/************************Bootstrap Overrides************************/
.container-fluid{
	padding:0px;
}

/************************General Styles************************/

h1,h2,h3,h4,h5,p,a,span,li{
	font-family:'MetaPlus',Helvetica, Arial, sans-serif;
}
h2{
	font-size: 18px;
}
p{
	font-size: 14px;
}
li{
	list-style-type: square;
}
.graypat{
	padding: 30px 0;
}
.graypat h2{
	margin-top: 10px;
	font-weight: bold;
}
.greenbg{
	background-color: #19835c;
}
.whitebg{
	background-color:#fff;
	padding:20px 0;
}
.whitebg h2{
	font-weight:bold;
	margin-top: 10px;
}
.greenhex{
	background-image:url('../images/green-bg.gif');
	color:#fff;
}
.bluehex{
	background-image:url('../images/blue-bg.gif');
	color: #fff;
}
.text-pad-top{
	margin-top: 20px!important;
}
.text-pad-right{
	padding-right: 20px!important;
}
.left-image{
	margin:20px auto;
}
h2.subhead{
	margin: 0px;
	font-size:28px;
}
.btn{
	background-color:#0083ad;
	border-bottom: 2px solid #004961;
	color:#fff;
	font-weight: bold;
}
.btn:active, .btn:hover, .btn:focus{
	background-color:#007ca4;
	border-bottom: 2px solid #004961;
	color:#fff;
}
.no-bottom-pad{
	padding-bottom: 0px;
}




/************************Service Boxes************************/

.servicebox{
	border-top:2px solid #0083ad;
	padding: 15px 8px;
	text-align: center;
	background-color: #ffffff;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.25);
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.25);
	margin-bottom: 10px;
	cursor: pointer;
}
.servicebox:hover, .servicebox.active, .servicebox:focus {
	border-top:4px solid #0083ad;
	margin-bottom: 8px;
	}
.servicebox h2{
	font-size: 16px;
	margin-bottom: 5px;
	color:#0083ad;
}
.servicebox i{
	font-size:100px;
	width: 100%;
	color: #464646;
	margin-bottom: 10px;
}
.servicebox p{
	font-weight: bold;
	padding: 0px 25px;
	margin-bottom: 15px;
	margin-top: 15px;
}

@media (min-width: 768px) {
	.servicebox.active:after{
		position: absolute;
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 20px solid #19835c;
		left: 45%;
		bottom: -2px;
		content:" ";
	}
}

.servicelist{
	text-align: left;
}

.hidden{
	display:none!important;
}
.showing{
	display:inline;
	padding:30px 0;
	color:#fff;
}
.showing i{
	font-size:184px;
	width:100%;
	text-align:center;
}
.showing h2{
	font-size: 28px;
	font-weight: bold;
	text-decoration: underline
}
.showing ul{
	margin-bottom: 20px;
}
@media (max-width: 768px) {
  .showing {
    color: #474747;
  }
}
